<div class="container-fluid m-auto">
    <div class="text-center">
        <h1>{{h1}}</h1>
    </div>
    <div class="container">
        <p>
            {{#if error}}{{error.message}}{{/if}}
        </p>
    </div>
</div>