<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg mb-3">
    <div class="d-flex flex-wrap justify-content-center py-1">
        <a class="navbar-brand mx-3" href="#">API Animé</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-principal"
            aria-controls="navbar-principal"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbar-principal">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/home"
                    >Inicio</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/animes/busqueda"
                    >Busqueda</a>
                </li>
                <li class="nav-item bg-success rounded">
                    <button type="button" class="btn btn-success">
                        <a class="text-white text-decoration-none" 
                            aria-current="page" 
                            href="/animes/nuevo"
                        >
                            Nuevo Anime
                        </a>    
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>