<h1 class="text-center">{{ h1 }}</h1>

    <form class="container-fluid justify-content-center py-2"
        id="buscar"
        method='GET' 
        action="#" 
        >
        <div class="row col-lg-12 mx-auto ">
            <div class="col-lg-8 col-md-12  my-auto ">
                <input id="palabra"
                    name="palabra" 
                    class="form-control shadow" 
                    type="text" 
                    placeholder="Ej: horror, dragon ball, 3"
                    {{#if palabra}}
                        value="{{ palabra }}"
                    {{/if}}
                >
            </div>
            <div class="d-grid col-lg-4 col-md-4 mx-auto text-center">
                <button 
                    type="submit"
                    class="btn btn-outline-success my-2">
                    {{#if palabra}}
                        Buscar nuevamente
                    {{else}}
                        Buscar Anime
                    {{/if}}
                </button>
            </div>
        </div>
    </form>

    <script>
        console.log('js search');
        const buscar = document.getElementById('buscar');
        buscar.addEventListener('submit', event => {
            event.preventDefault();
            //console.log(event.target.palabra.value);
            const palabra = event.target.palabra.value;
            window.location=`/animes/busqueda/${palabra}`;
        });
    </script> 

    {{#if dataCards }}
        {{>animes_list
            dataCards = dataCards
        }}
    {{/if}}