<h1 class="text-center">{{ h1 }}</h1>

<div class="container text-center ">
    <p>
        Aprende a consumir nuestra API, clickeando <a class="btn btn-primary" href="/readme">AQUI</a>
    <p>
</div>