<h1 class="text-center mb-5">{{ h1 }}</h1>

{{> anime_single}}

    <script>
        const form = document.querySelector('form');
        const select = form.querySelector('#año');
        const esteAnio = new Date().getFullYear();
        const anioMinimo = 1900;
        for (let i = esteAnio; i >= anioMinimo; i--) {
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            select.appendChild(option);
        }

        form.addEventListener('submit', async event => {
            event.preventDefault();
            console.log(form['nombre'].value)

            //header para enviar el json por post al backend
            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            allBtnCheck = form.querySelectorAll('.btn-check');
            seleccionados = [];

            allBtnCheck.forEach(element => {
                if (element.checked) {
                    seleccionados.push(element.value)
                }
            });
            console.log(form['protagonistas'].value)
            const protagonistas = form['protagonistas'].value.split(",").map(item => item.trim());

            let anime = {
                nombre: form['nombre'].value.trim(),
                genero: seleccionados,
                año: form['año'].value,
                autor: form['autor'].value.trim(),
                estudio : form['estudio'].value.trim(),
                protagonistas : protagonistas,
            }
            try {
                let response = await fetch('/api/vi/animes', {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(anime)
                });
                
                let data = await response.json();
                if (response.status == 201) {
                    console.log(data.message)
                    alert(data.message);
                    form.reset();
                    return location.href = '/animes/';
                } else {
                    alert('Error FRONTEND en crear el anime:: '+response.message);
                }
            } catch (error) {
                alert('cago toa la wea... '+error.message);
            }



        });
 
    </script>
