<h1 class="text-center">{{ h1 }}</h1>
<form class="container-fluid justify-content-center py-2" id="buscar">
  <div class="row col-lg-12 mx-auto ">
    <div class="col-lg-8 col-md-12  my-auto ">
      <input id="busqueda" name="busqueda" class="form-control shadow" type="text"
        placeholder="Ej: Hunter X Hunter, Horror, 5...">
    </div>
    <div class="d-grid col-lg-4 col-md-4 mx-auto text-center">
      <button type="submit" class="btn btn-outline-success my-2">
        Buscar Anime
      </button>
    </div>
  </div>
</form>

<section>
  <div id="contenedor" class="d-flex flex-wrap justify-content-evenly">
    {{!-- CARD CONTAINER --}}
  </div>
</section>

<script>
  //capturamos si viene algun valor de busqueda en la url
  (async () => {
    try {
      const url = new URL(window.location.href);
      //console.log(url)
      let busquedaUrl = url.pathname.split('/').pop();
      busquedaUrl = decodeURIComponent(busquedaUrl).toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
      console.log("busquerdaUrl= " + busquedaUrl)
      document.querySelector("#contenedor").innerHTML = '';
      const data = await obtenerAnimes()
      const animes = await buscarAnimes(busquedaUrl,data.animes);
      renderizarAnimes(animes);
      return;
    } catch (error) {
      console.error(error.message)
    }

  })();


  async function obtenerAnimes() {
    const response = await fetch(`/api/v1/animes/`);
    const data = await response.json();
    return data;
  }

  async function buscarAnimes(palabra, data) {
    console.log("function buscarAnimes busqueda= " + palabra);
    console.log("data")
    console.log(data)
    if (!data) {
      return null
    }
    const busqueda = palabra.toLowerCase()
    if (busqueda != '') {
      const animesEncontrados =
        Object.entries(data).filter(([id, anime]) => {
          const listado =
            (id === busqueda) ||
            (anime.nombre.toLowerCase().includes(busqueda)) ||
            (anime.genero.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").includes(busqueda))
            ;
          return listado;
        });
      const resultados = Object.fromEntries(animesEncontrados);
      const keys = Object.keys(resultados).length || 0;
      if (keys === 0) {
        return null;
      }
      return resultados;
    }
    return data;
  };

  /*
  "1": {
    "nombre": "Akira",
    "genero": "Seinen",
    "año": "1988",
    "autor": "Katsuhiro Otomo"
  },
  */

  function crearAnimeCard(id, data) {
    const { nombre, genero, autor } = data;
    const card = document.createElement("div");
    card.classList.add("card", "my-3", "p-0", "mx-2", "shadow", "rounded", "border-info", "bg-white", "card-animacion",);
    card.dataset.id = id;
    const cardBody = document.createElement("div");
    cardBody.classList.add("card-body", "text-center", "py-2");
    const cardTitle = document.createElement("h4");
    cardTitle.classList.add("card-title", "m-auto");
    cardTitle.textContent = nombre;
    const cardSubtitle = document.createElement("small");
    cardSubtitle.classList.add("card-subtitle", "m-auto");
    cardSubtitle.textContent = "id: " + id;
    const cardUl = document.createElement("ul");
    cardUl.classList.add("list-group", "list-group-flush");
    const cardLi1 = document.createElement("li");
    cardLi1.className = "list-group-item";
    cardLi1.textContent = "Autor: " + autor;
    const cardLi2 = document.createElement("li");
    cardLi2.className = "list-group-item";
    cardUl.append(cardLi1, cardLi2);
    cardBody.append(cardTitle, cardSubtitle, cardUl);
    card.appendChild(cardBody);
    //console.log("function crearAnimeCard() Done!")
    return card;
  };

  function renderizarAnimes(data) {
    for (const id in data) {
      const resultadoAnime = data[id];
      //console.log(resultadoAnime)
      const divResultado = crearAnimeCard(id, resultadoAnime);
      document.querySelector("#contenedor").prepend(divResultado);
    }
    return console.log("function renderizarAnimes Done!");
  };

  const buscar = document.getElementById('buscar');
  buscar.addEventListener('submit', async (event) => {
    event.preventDefault();
    document.querySelector("#contenedor").innerHTML = '';
    const busqueda = event.target.busqueda.value;

    const data = await obtenerAnimes();
    const dataBuscada = await buscarAnimes(busqueda, data.animes)
    console.log("dataBuscada")
    console.log(dataBuscada)
    renderizarAnimes(dataBuscada);
  });

  let cards = document.getElementById('contenedor');
  cards.addEventListener('click', event => {
    const card = event.target.closest('.card');
    if (card) {
      const id = card.dataset.id;
      console.log(id);
      window.location = `/animes/detalles/${id}`;
    }
  });

</script>