
<section>
  <div id="contenedor" class="d-flex flex-wrap justify-content-evenly">
    {{!-- CARD CONTAINER --}}


  </div>
</section>


<script>


  console.log('js animes_list');
  let cards = document.getElementById('contenedor');
  cards.addEventListener('click', event => {
    const card = event.target.closest('.card');
    if (card) {
      const id = card.dataset.id;
      console.log(id);
      window.location = `/animes/detalles/${id}`;
    }
  });

</script>