<form class="container-fluid justify-content-center py-2" id="buscar">
  <div class="row col-lg-12 mx-auto ">
    <div class="col-lg-8 col-md-12  my-auto ">
      <input id="busqueda" name="busqueda" class="form-control shadow" type="text"
        placeholder="Ej: Hunter X Hunter, Horror, 5...">
    </div>
    <div class="d-grid col-lg-4 col-md-4 mx-auto text-center">
      <button type="submit" class="btn btn-outline-success my-2">
        Buscar Anime
      </button>
    </div>
  </div>
</form>

