<section>
  <div id="contenedor" class="d-flex flex-wrap justify-content-evenly">
    {{!-- CARD CONTAINER --}}


  </div>
</section>


<script>



  console.log('js animes_list');
  let cards = document.getElementById('contenedor');
  cards.addEventListener('click', event => {
    const card = event.target.closest('.card');
    if (card) {
      const id = card.dataset.id;
      console.log(id);
      window.location = `/animes/detalles/${id}`;
    }
  });

</script>

<style>
  div .card:focus {
    animation: card-animacion .5s cubic-bezier(.215, .61, .355, 1.000) reverse
  }

  @keyframes card-animacion {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0
    }

    40% {
      opacity: .6
    }

    100% {
      transform: translateZ(0);
      opacity: 1
    }
  }
</style>